.search-engine {
  background-color: var(--cream);
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 129px;
  overflow-y: scroll;
  opacity: 0;
  transition: 0.3s opacity ease-in-out;
  pointer-events: none;
  top: 0;
  z-index: 10;

  label {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 100%;
    color: var(--white);
    margin-bottom: 5px;
  }

  &--visible {
    opacity: 1;
    z-index: 10000;
    pointer-events: initial;
    height: 100vh;
  }

  &__close-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;

    span {
      color: var(--dark);
      font-family: var(--primary-font);
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }

  .content {
    margin-top: 8rem;
    width: 875px;

    @media (max-width: 992px) {
      width: 80%;
    }
  }

  form {
    align-items: center;
    border-bottom: 2px solid var(--dark);
    display: flex;
    gap: 1rem;
    width: 100%;
  }

  input[type=search] {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: 0;
    background: transparent;
    height: 50px;

    @media (max-width: 992px) {
      width: 100%;
    }

    button {
      position: absolute;
      right: 0;
    }

    &::placeholder {
      color: var(--dark);
      font-family: var(--primary-font);
      font-size: 39px;
      font-style: normal;
      font-weight: 600;
      line-height: 115%;
    }

    @media (max-width: 992px) {
      &::placeholder {
        font-size: 25px;
      }
    }
  }

  @media (max-width: 992px) {
    &__close-icon span {
      display: none;
    }
  }

  .btn-submit {
    background: none;
    background-image: url(../../Icons/form-search-icon.svg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 24px;
    border: none;
    display: inline-block;
    height: 24px;
    position: relative;
    width: 24px;
  }

  &__results {
    width: inherit;
    margin-bottom: 248px;
    background-color: #ffff;
    border-radius: 4px;
    display: none;
    padding: 16px 8px;
    margin-top: 8px;

    &-list {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    &-item {
      &:hover {
        h6 {
          color: var(--gray);
          ;
        }
      }

      a {
        color: var(--dark);

      }

      h6 {
        font-size: 18px;
        margin-bottom: 0;
      }

      p {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 0;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
        padding-bottom: 8px;
        border-bottom: 1px solid #E5E4F3;
        ;
      }
    }

    &--active {
      display: block;

      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }

  &__message {
    color: var(--dark);
    text-align: center;
    margin-bottom: 0;
  }

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
}