.hero-basic {
  height: calc(15vw);
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  /*align-items: end;
  justify-content: end;
  padding-bottom: 65px;
  */
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  h1 {
    color: var(--dark-blue);
    font-family: var(--primary-font);
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    position: relative;
    z-index: 10;
  }

  .fixed-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    mix-blend-mode: multiply;
  }
}

@media screen and (max-width:992px) {
  .hero-basic {
    min-height: 150px;
    h1 {
      font-size: 39px;
      line-height: 115%;
    }
  }
}