header {
  height: 120px;
  position: relative;
}

.navbar {
  top: 0;
  min-height: 90px;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  padding: 0 30px;
  position: absolute !important;

  .navbar-brand {
    padding: 0;
  }

  .dropdown {
    
    &-menu {
      padding: 20px;
      border-radius: 5px !important;
      max-height: none;

      &.open {
        display: block;

        .dropdown-item {
          a {
            font-style: normal;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 130%;
            color: var(--dark);
            text-transform: none;
          }
        }
      }

      &.megamenu {
        background-color: var(--cream);
        box-shadow: none;
        border-radius: 0!important;
        width: 100%;
        min-height: 50%;

        li, li:hover {
          clear: none;
          display: block;
          width: 100%;
        
          a.dropdown-link, div.dropdown-link {
            color: var(--dark-blue) !important;
            font-size: 25px;
            font-weight: 700;
            line-height: 130%;
            display: block;

            .introtext {
              color: var(--dark);
              font-family: var(--neue-font);
              font-size: 1rem;
              font-style: normal;
              font-weight: 450;
              line-height: 125%;
              letter-spacing: 1.5px;
              margin-top: 1rem;
              text-wrap: wrap;
              cursor: text;
            }
          }

          .dropdown-title {
            color: var(--dark-blue)!important;
            font-size: 1.563rem;
            font-weight: 700;
            border-bottom: 1px solid #ECE1CE;
            padding-bottom: 1rem;

            a {
              color: var(--dark-blue)!important;
              font-size: 1.563rem!important;
              font-weight: 700;

              &:hover {
                color: var(--dark-blue)!important;
              }
            }
          }

          .megamenu-col {
            padding-left: 0;

            li {
              color: var(--orange);
              font-size: 20px;
              font-weight: 400;
              padding-left: 0;
              padding-right: 0;
              padding-top: 0.5rem;
              width: 100%;
              border-bottom: 2px solid transparent;
              text-wrap: wrap;

              &:hover {
                background-color: transparent;
                
                a {
                  border-bottom: 2px solid var(--orange);
                }
              }

              a {
                color: var(--orange);
              }
            }
          }
        }
      }
    }

    &-item {
      padding: 0;

      &:focus,
      &:hover {
        color: #1e2125;
        background-color: transparent;
      }

      &:not(:last-child) {
        padding-bottom: 20px;
      }

    }
  }

  .nav-item:has(.nav-active-item) a {
    color: var(--black, #333) !important;
  }

  .navbar-toggler {
    z-index: 9999;
  }

  &.home-nav {
    background: transparent;
    position: absolute;

    #navNav ul li.nav-item {
      .dropdown-button {
        color: #fff;
      }

      a.nav-link {
        color: #fff;

        &.btn {
          background-color: transparent;
          color: #fff;
          border: 2px solid #fff;
        }
      }

      a.dropdown-button {
        color: #fff;
      }
    }
  }

  .collapse {
    @media (max-width: 991px) {
      background-color: var(--ct-white);

      li.nav-item {

        a.dropdown-button,
        a.nav-link {
          color: #ffff !important;
        }
      }
    }
  }

  &.sticky-nav {
    // transition: 0.2s ease-in-out;
    position: fixed !important;
    top: 0;
    /*height: 65px;*/
    background: var(--white) !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

    @media (max-width: 992px) {
      position: fixed;
      background: var(--white);
    }

    .navbar-toggler {

      span,
      span:before,
      span:after {
        background-color: #001e61;
      }

      span.open-toggle,
      span.open-toggle:before,
      span.open-toggle:after {
        background-color: #ffff;
      }
    }

    /*.navbar-brand>img {
      width: 85%;
    }*/

    .nav-item {
      
      a {
        font-size: 25px !important;
        color: var(--dark) !important;
      }

      .dropdown-menu.megamenu li .megamenu-col li a {
        font-size: 20px !important;
      }

      .dropdown-menu li.dropdown-item a{
        font-size: 20px !important;
      }
    }

    .nav-item .dropdown-menu li.dropdown-item .dropdown-title a {
      font-size: 1.563rem!important;
    }

  }

  .site-nav {
    justify-content: flex-end;

    ul {
      align-items: center;

      li.nav-item {
        margin-right: 2.813rem;
        transition: none;

        a {
          font-family: var(--primary-font);
          font-style: normal;
          font-weight: 800;
          font-size: 25px;
          line-height: 130%;
          letter-spacing: 0;
          color: var(--dark-green);
          transition: all 0.3s ease;
          text-decoration: none;
        }

        &:hover {
          border-bottom: 2px solid var(--primary-color-dark);
          margin-top: 2px;
          margin-bottom: 10px;

          a {
            color: var(--primary-color-dark) !important;
          }

          .dropdown-title a {
            color: var(--dark-blue) !important;
          }
        }

      }
    }

    .nav-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  &.nav-yellow-hover .site-nav {
    ul {
      li.nav-item {
        a {
          &:hover {
            color: var(--yellow) !important;
          }
        }
      }
    }
  }

  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }

  .nav-white {
    @media screen and (min-width: 991px) {
      >li>a {
        color: #fff !important;
      }
    }
  }
}

// Mobile open/close icon
.navbar-toggler-icon {
  height: 4px !important;
  background-color: var(--dark) !important;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: var(--dark) !important;
    width: 1.5em;
    left: 0;
    transition: 0.25s ease-in-out;
  }

  &:before {
    top: -10px;
  }

  &:after {
    bottom: -10px;
  }

  &.open-toggle {
    background-color: var(--dark) !important;
    opacity: 1;
    top: 0px;
    height: 4px;
    -webkit-transform: rotate(132deg);
    -moz-transform: rotate(132deg);
    -o-transform: rotate(132deg);
    transform: rotate(132deg);

    &:before {
      opacity: 0;
      right: -60px;
    }

    &:after {
      background-color: var(--dark-green);
      content: '';
      opacity: 1;
      top: 0px;
      bottom: unset;
      height: 4px;
      -webkit-transform: rotate(-85deg);
      -moz-transform: rotate(-85deg);
      -o-transform: rotate(-85deg);
      transform: rotate(-85deg);
    }
  }
}

// Mobile menu when is open
.navbar-collapse.show {
  padding: 1.5rem 0;
  background-color: var(--white);
}

@media screen and (max-width: 991px) {
  header {
    height: auto;
  }

  .navbar {
    background-color: var(--white);
    height: 90px;
    min-height: auto;
    padding: 5px 0;
    position: relative!important;

    a.navbar-brand {
      height: 100%;
      max-width: 60%;

      img {
        padding-left: 15px;
        width: 100%;
        height: 100%;
      }
    }

    .dropdown-item {
      text-wrap: wrap;
    }

    &.sticky-nav {
      .navbar-brand>img {
        padding-left: 15px;
        /*width: 60%;*/
      }
    }

    button {
      padding-right: 15px;
      border: 0 !important;
    }

    .navbar-collapse {
      transition: 0.15s all ease-in-out;

      &.show {
        /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);*/

        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100dvh;
        z-index: 1000;
        overflow-y: auto;
      }
    }

    &.home-nav {

      .navbar-toggler-icon,
      .navbar-toggler-icon:before,
      .navbar-toggler-icon:after {
        background-color: var(--white) !important;
      }

      .navbar-toggler-icon.open-toggle {
        background-color: var(--dark) !important;

        &::before,
        &::after {
          background-color: var(--dark) !important;
        }
      }
    }

    &.home-nav.sticky-nav {

      .navbar-toggler-icon,
      .navbar-toggler-icon:before,
      .navbar-toggler-icon:after {
        background-color: var(--dark) !important;
      }
    }

    &.expanded {
      background-color: var(--white) !important;
      /*padding-bottom: 0rem;*/

      #navNav ul li.nav-item {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    border-radius: 0px 4px 4px 4px;
    border: none;
    width: auto;

    &.megamenu {
      border-radius: 0;
      width: 100%;
      position: fixed;
      /*top: 177px;*/
      top: 117px;
      max-height: none;

      li.dropdown-item {
        display: block;
        float: left;
        padding-left: 30px;
        padding-right: 30px;
      }

      &.column-count-1 {
        li.dropdown-item {
          width: 100%;
        }
      }
      &.column-count-2 {
        li.dropdown-item {
          width: 50%;
        }
      }
      &.column-count-3 {
        li.dropdown-item {
          width: 33%;
        }
      }
      &.column-count-4 {
        li.dropdown-item {
          width: 25%;
        }
      }
      &.column-count-5 {
        li.dropdown-item {
          width: 20%;
        }
      }
    }
  }

}

.navbar .site-nav ul.navbar-nav li.nav-item {
  &:nth-child(5) {

    .dropdown-menu {
      right: 0;
      left: unset;
    }
  }
  
}

@media screen and (max-width: 1400px) {
  .navbar .site-nav ul li.nav-item {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 991px) {
  .navbar.expanded #navNav ul li.nav-item {
    text-align: center;
    width: 100%;
  }

  li.dropdown ul.dropdown-menu {
    background-color: transparent !important;
    border: none;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .navbar {

    .navbar-brand img {
      padding-left: 15px;
      width: 87%;
    }

    .nav-item {
      margin-right: 25px !important;

      a {
        font-size: 20px !important;
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .navbar.sticky-nav .dropdown-menu.megamenu li .megamenu-col li a, 
  .navbar.sticky-nav .dropdown-menu.megamenu li:hover .megamenu-col li a,
  .navbar.sticky-nav .dropdown-menu.megamenu.open .dropdown-item .introtext a {
    font-size: 1.25rem !important;
  }

  .navbar.navbar-expand-lg.expanded.sticky-nav {
    /*position: relative !important;*/

  }

  .navbar.expanded {
    #navNav ul {
      margin-top: 3rem;
      li.nav-item {
        text-align: left;
        padding-left: 20px;
        &:hover {
          border-bottom: none;
        }
        .dropdown-menu {
          height: auto;
          min-height: auto;
          margin-top: 0;
          padding-left: 0;
          padding-bottom: 0;
          max-height:none;

          li.dropdown-item .dropdown-link {
            color: var(--black) !important;
          }

          &.megamenu {

            .megamenu-col {
              height: auto;
              min-height: auto;
              margin-top: 0;
              /*overflow-y: scroll;*/
            }

          }
        }
      }
    }
    .dropdown-menu {
      box-shadow: none;
      text-align: left;
    } 
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu.megamenu {
    position: relative;
    top: unset;
    max-height: none;

    li a.dropdown-link .introtext {
      display:none
    }
  }

  .navbar .site-nav .nav-actions {
    display: block;
    width: 100%;
    padding-left: 15px;
    position: absolute;
    top: 28px;
    right: 48px;
    text-align: end;
  }

  .search-engine header {
    padding: 20px;

    div img {
      width: 85%;
    }
  }

}