.responsive-table {
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
  margin: 3rem 0;

  table {
    border: 0;
    width: 100%;

    * {
      color: var(--black);
      vertical-align: middle;
    }

    th {
      padding: 20px;
      background-color: #fcfcfd;
      color: var(--grey) !important;
      font-size: 14px !important;
      font-weight: 700 !important;
      line-height: 150% !important;
      text-transform: uppercase;
    }

    tr {
      border-bottom: 1px solid #eaecf0;

      td {
        padding: 20px;
        font-size: 20px !important;
        font-style: normal;
        font-weight: 450 !important;
        line-height: 145% !important;
        font-family: var(--neue-font);
        color: var(--dark);

        a {
          color: var(--primary-color);
        }
      }
    }
  }
}
