.process-section {
  margin-top: 150px;
  padding-bottom: 146px;

  .cta-extra {
    margin-top: 79px;
  }
}

@media screen and (max-width:992px) {
  .process-section {
    margin-top: 0;
    padding-bottom: 70px;

    .cta-extra {
      margin-top: 45px;
    }
  }
}