:root {
  --dark: #262827;
  --black: #000;
  --cream: #F8F3EA;
  --white: #FFF;
  --yellow: #FFD16C;
  --orange: #EC6500;
  --dark-blue: #37557F;
  --light-blue: rgba(55, 85, 127, 0.20);
  --main-color: rgb(236, 101, 0);
  --primary-color-lighter: #FFFAED;
  --light-orange: rgba(255, 209, 108, 0.2);
  --pearl: #9CAAB8;
  --extra-light-blue: #709CD9;
  --blue: #3498DB;
}