@import url(_colors.scss);
@import url(_fonts.scss);

html {
  scroll-behavior: auto!important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: 3.063rem;
}
.h4 {
  font-size: 2.438rem;
}

a {
  text-decoration: none;
}