.updatesSection {
  padding-bottom: 11.625rem;

  .cta-extra {
    display: none;
  }
}

.post-card {
  position: relative;
  height: 100%;
  background-color: var(--cream);

  a {
    text-decoration: none;

    .content {
      padding: 25px 30px 60px;

      .date,
      .location {
        color: var(--dark);
        font-family: var(--neue-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 450;
        line-height: 125%;
        letter-spacing: 1.5px;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        display: block;
      }

      h3 {
        color: var(--orange);
        font-family: var(--primary-font);
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
      }

      .post-introduction {
        color: var(--dark);
        font-family: var(--neue-font);
        font-size: 20px;
        font-style: normal;
        font-weight: 450;
        line-height: 130%;
        letter-spacing: 1.5px;
        margin: 0;
        padding: 0;
      }
    }

    .image {
      height: 250px;
    }

    .tags-list {
      position: absolute;
      top: 1rem;
      left: 1.875rem;
    }
  }

  &:hover {
    background-color: var(--dark-blue);
    color: var(--white);

    a .content {
      h3 {
        color: var(--primary-color-lighter);
      }

      .date,
      .post-introduction,
      .location {
        color: var(--white);
      }
    }
  }
}

.item-organization {

  .post-card {
    .image {
      background-color: #FCFCFC;
      height: 287px;
      position: relative;
    }

    .image-wrapper {
      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

}

@media screen and (max-width:992px) {
  .updatesSection {
    padding-bottom: 5rem;

    .cta-extra {
      display: block;
    }
  }

  .post-card {
    height: auto;
    margin-bottom: 15px;

    a {
      .content {
        padding: 15px 20px;

        .date,
        .location {
          font-size: 13px;
        }

        h3 {
          font-size: 20px;
        }

        .post-introduction {
          font-size: 16px;
          letter-spacing: 0.048px;
          line-height: 125%;
          padding-bottom: 40px;
        }
      }

      .image {
        height: auto;
      }
    }
  }
}