.mega-menu-card {
  .meta {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--ct-dark-blue);
    margin-bottom: 10px;
  }

  h2 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: var(--ct-blue);
    margin-bottom: 17px;
  }

  .image-wrapper {
    height: 180px;
    margin-bottom: 16px;

    &>div {
      height: 100%;
    }

    img {
      height: 100%;
      object-fit: contain !important;
    }

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .description {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--ct-dark-blue);
  }

  @media screen and (max-width: 991px) {
    padding-top: 30px;
    border-top: 1px solid var(--ct-pearl);

    span {
      padding: 0 !important;
    }

    .meta {
      font-weight: 600 !important;
      font-size: 10px !important;
      margin-bottom: 9px !important;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
}