.breadcrumb {
  margin: 0;
  margin-bottom: 33px;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 8px;

    li {
      color: var(--dark);
      font-family: var(--neue-font);
      font-size: 20px;
      font-size: 20px;
      font-style: normal;
      font-weight: 450;
      line-height: 130%;
      letter-spacing: 1px;

      a {
        color: var(--dark);
        margin-right: 6px;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active {
        color: var(--orange);
      }
    }
  }
}