.carousel {
  .slick-slide {
    padding-right: 30px;

    @media screen and (max-width: 991px) {
      padding: 0;
    }
  }

  @media screen and (min-width: 1492px) {
    .slick-list {
      overflow: visible;
    }

    .slick-list {
      &::after {
        content: '';
        position: absolute;
        left: -510px;
        top: 0;
        display: block;
        width: 500px;
        height: 100%;
        background-color: var(--white);
        z-index: 100;
      }
    }
  }
}

.carousel-actions {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  z-index: 9;

  span {
    cursor: pointer;
  }
}

@media screen and (max-width:992px) {
  .slick-initialized .slick-slide {
    padding-right: 1rem;
  }

  .carousel-actions {
    padding-top: 20px;
    justify-content: flex-end;
    gap: 17px;

    svg {
      width: 60px;
      height: 60px;
    }
  }
}