.footer-container {
  padding: 40px 0;
  background-color: var(--secondary-bg-color);
  font-family: var(--neue-font);

  a {
    color: var(--dark);
    text-decoration: none;

    &:hover {
      color: var(--secondary-color);
    }
  }

  .first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 47px;
  }

  .social-btn {
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
    color: transparent!important;

    &.facebook-btn {
      background-image: url('../../Icons/social-media-icons-facebook.svg');
      

      &:hover {
        background-image: url('../../Icons/social-media-icons-facebook-hover.svg');
      }
    }

    &.x-btn {
      background-image: url('../../Icons/social-media-icons-x.svg');

      &:hover {
        background-image: url('../../Icons/social-media-icons-x-hover.svg');
      }
    }

    &.youtube-btn {
      background-image: url('../../Icons/social-media-icons-youtube.svg');

      &:hover {
        background-image: url('../../Icons/social-media-icons-youtube-hover.svg');
      }
    }

    &.instagram-btn {
      background-image: url('../../Icons/social-media-icons-instagram.svg');

      &:hover {
        background-image: url('../../Icons/social-media-icons-instagram-hover.svg');
      }
    }

    &.linkedin-btn {
      background-image: url('../../Icons/social-media-icons-linkedin.svg');

      &:hover {
        background-image: url('../../Icons/social-media-icons-linkedin-hover.svg');
      }
    }
  }

  .content {
    color: var(--third-color);
    font-family: var(--neue-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 1px;

    h4 {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 1rem;
    }

    a {
      color: var(--secondary-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // 
  .extra-data {
    text-align: right;
    letter-spacing: 1px;
  }

  .extra-links,
  .mobile-social-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 1rem;
    letter-spacing: 1px;

    a {
      color: var(--dark);
      font-family: var(--neue-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      text-decoration: underline;

      &:hover {
        color: var(--secondary-color);
        text-decoration: underline;
      }
    }
  }

  .extra-links {
    margin-bottom: 0;
  }

  .extra-text {
    letter-spacing: 1.5px;
    text-align: right;

    span {
      color: var(--third-color);
      font-family: var(--neue-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }

  .mobile-social-links {
    display: none;
  }

  .copyright-section {
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 992px) {
  .footer-container {
    padding: 25px 0;

    .first-row {
      display: none;
    }

    .columns-links {
      width: 100%;

      h2 {
        font-size: 15px;
        line-height: 130%;
        margin-bottom: 10px;
      }

      .content * {
        font-size: 14px;
      }
    }

    .extra-data {
      text-align: left;
    }

    .extra-links {
      gap: 10px;
      justify-content: start;
      flex-direction: row;
      margin-bottom: 20px;

      a {
        font-size: 15px;
        line-height: 130%;
      }
    }

    .extra-text {
      text-align: left;
      margin-bottom: 20px;
    }

    .extra-text span {
      font-size: 15px;
      line-height: 130%;
    }

    .copyright-section .text-center {
      text-align: left !important;
    }

    .mobile-social-links {
      display: flex;
      margin-bottom: 26px;
    }
  }
}